<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745371036810-92eur2vvhb6u7djbp1rtkk21bevcu7an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745371036810-92eur2vvhb6u7djbp1rtkk21bevcu7an</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745371036810-9obss2999g0rs94kqqpt91rr7ch84ru0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1m5VUrVfdXv4a6-edY7OTN2pCarLWGRE</string>
	<key>GCM_SENDER_ID</key>
	<string>745371036810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditTutorial</string>
	<key>PROJECT_ID</key>
	<string>reddit-tutorial-e83c3</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-tutorial-e83c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745371036810:ios:9bab9fd26d54240415d173</string>
</dict>
</plist>